@model MovieSearch.Models.SearchMovie
@{
    ViewBag.Title = "Movie Search";
}
<br /><br />
<h3>Let's do a search for a movie. </h3>
<br />
@using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "form-inline", role = "form" }))
{
    <div class="form-group">
        <br />
        <label>Enter some keywords (Ex: Rambo or Die Hard): </label>
        @Html.TextBox("searchword")
        <Button class="btn btn-success btn-sm">Submit</Button>
    </div>
}